# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
staticfiles/

# SQLite (will be committed as it has pre-loaded data)
# db.sqlite3

# OS
.DS_Store
Thumbs.db
